
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;

}




.imgCard{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

@media only screen and (max-width: 768px){





.imgCard{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

	
}


@media only screen and (max-width: 450px){




.imgCard{
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

}