
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
}

html{
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;

}

.main1{
    background-color: lightgrey;
    height: 100vh;
    background-image: url(../images/shopping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    
    
}


.imgCard{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

@media only screen and (max-width: 768px){





.imgCard{
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

	
}


@media only screen and (max-width: 450px){




.imgCard{
    width: 100%;
    height: 70vw;
    object-fit: cover;
}

}